
body {
  font-family: 'Press Start 2P', cursive;
  background-color: #000000;
  color: #00FF00;
  margin: 0;
  padding: 20px;
 
}
h1{
  text-align: center;
}
button {
  background-color: #00FF00;
  color: #000000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}
button:hover {
  background-color: #00CC00;
}
input {
  background-color: #000000;
  color: #00FF00;
  border: 2px solid #00FF00;
  padding: 10px;
  font-size: 16px;
}
/* sajda */
